<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Fecha de expiracion:</strong>
  <%= @product.expdate %>
</p>

<p>
    <strong>Estado:</strong>
    <%
      diferencia = (@product.expdate - Date.today).to_i
      if diferencia < 0 then
    %>
      <span class="Rojo">Vencido</span>
    <%
      elsif diferencia <= 5 and diferencia >= 0 then
    %>
      <span class="Amarillo">Pronto por vencer</span>
    <%
      else 
    %>
      <span class="Verde">Ok</span>
    <%
      end
    %>
  
</p>

<p>
  <strong>Usuario:</strong>
  <%= @product.user.name %>
</p>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Regresar', products_path %>
